<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock title %}</title>

</head>
<body>

<div id="root">
    the  flask
</div>
<script src="static/dist/bundle.js"></script>


</body>
</html>

